.contact_bg {
  background-image: url(../../../public/portfolioAssets/5.webp);
}

/* line effect under navlinks */
.animated_underline::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 0;
  height: 2px;
  background: #84fadf;
  transition: left 0.3s, width 0.3s;
  border-radius: 2px;
  bottom: 0px;
}

.animated_underline:hover::after,
.animated_underline:focus::after {
  left: 0;
  width: 100%;
}

/* animation under navbar */

.navbar_backdrop {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    180deg,
    #84fadf 0%,
    #84fade59 50%,
    #94969b60 100%
  );
  background-size: 200% 200%;
  animation: diagonalMove 10s linear infinite;
  backdrop-filter: blur(10px);
}
.navbar_backdrop_sm {
  z-index: -1;
  background: linear-gradient(
    130deg,
    #84fadf 0%,
    #84fade59 50%,
    #94969b60 100%
  );
  animation: diagonalMove 10s linear infinite;
  backdrop-filter: blur(10px);
}

@keyframes diagonalMove {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* triangle */
.triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #84fadea4; /* Change color as needed */
  position: absolute;
  bottom: -26px;
  right: 10px;
  rotate: 90deg;
  z-index: -1;
}

.styled_button1 {
  transition: 2s ease;
  background: linear-gradient(90deg, #84fadf, #94969b);
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.styled_button1:hover {
  background: linear-gradient(90deg, #94969b, #84fadf);
}
